<%- include('head') %>
    <!-- <link rel="stylesheet" href="/css/w3SaleEntry.css"> -->
    <style>
        #checkListPopup {
            position: absolute;
            background: white;
            border: 1px solid black;
            padding: 20px;
            z-index: 1000;
        }

        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
        }

        .form-check-inline {
            flex: 0 0 20%;
            max-width: 20%;
        }

        @media (max-width: 768px) {
            .form-check-inline {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    </style>
</head>
    <body>
        <%- include('navbar') %>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 offset-md-1">

                        <!-- ---------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------------------------------------------------------------- -->

                        <h2 class="text-center mb-4"><b>อัพเดทข้อมูลสินค้า</b></h2>
                        <form id="formUpdateEntry">
                            <table class="table table-borderless">
                                <tbody>
                                    <!-- Input fields -->
                                    <tr>
                                        <td class="setText wrap"><label>ชื่อสินค้า : </label></td>
                                        <td>
                                            <input type="hidden" id="productSelect" value="<%= entry.productID._id %>">
                                            <input class="form-control"
                                                value="<%= entry.productID.ber %> <%= entry.productID.productName %>"
                                                disabled>
                                        </td>
                                        <td><label for="costSelect">เลือกราคาทุน:</label></td>
                                        <td>
                                            <select class="form-control" id="costSelect" name="costSelect" required>
                                                <option value="">-- เลือกราคาทุน --</option>
                                            </select>
                                        </td>
                                        <td><label for="batchSelect">เลือกชุด:</label></td>
                                        <td>
                                            <input type="hidden" id="typeID" value="<%= entry.productID.typeID._id %>">
                                            <input type="hidden" id="batchID" value="<%= entry.batchID._id %>">
                                            <select class="form-control" id="batchSelect" name="batch" required>
                                                <option value="">-- เลือกชุด --</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm"
                                                id="openCheckList">เลือกรูปร่าง</button>
                                            <div id="checkListPopup" class="card"
                                                style="display:none; position: absolute; z-index: 1000; padding: 20px; background-color: white; border: 1px solid #ccc;">
                                                <div class="checkbox-container">
                                                    <% sharps.forEach(function(sharp) { %>
                                                        <div class="form-check form-check-inline">
                                                            <input type="checkbox" class="form-check-input" name="shapeSelect[]" value="<%= sharp.sharpName %>" id="sharp_<%= sharp.sharpName %>" 
                                                            <%= entry.sharp.some(t => t.toString() === sharp.sharpName.toString()) ? 'checked' : '' %>>
                                                            <label class="form-check-label no-wrap" for="sharp_<%= sharp.sharpName %>">
                                                                <%= sharp.sharpName %>
                                                            </label>
                                                        </div>
                                                    <% }); %>                                                    
                                                </div>
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                    id="closePopup">เสร็จ</button>
                                            </div>
                                        </td>
                                        <td>
                                            <textarea id="selectedShapes" class="form-control mt-2"
                                                placeholder="รายการที่เลือก..." rows="1"
                                                readonly><%= entry.sharp %></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="openWeight">ระบุน้ำหนัก<b>เปิด</b>(กะรัต):</label></td>
                                        <td>
                                            <input type="number" class="form-control" id="openWeight" name="openWeight"
                                                value="<%= entry.openWeight %>" placeholder="ระบุน้ำหนักเปิด" required>
                                        </td>
                                        <td><label for="openPrice">ระบุราคา<b>เปิด</b>(บาท/กะรัต):</label></td>
                                        <td>
                                            <input type="number" class="form-control" id="openPrice" name="openPrice"
                                                value="<%= entry.openPrice %>" placeholder="ระบุราคาเปิด" required>
                                        </td>
                                        <td><label for="closeWeight">ระบุน้ำหนัก<b>ปิด</b>(กะรัต):</label></td>
                                        <td>
                                            <input type="number" class="form-control" id="closeWeight"
                                                name="closeWeight" value="<%= entry.closeWeight %>"
                                                placeholder="ระบุน้ำหนักปิด">
                                        </td>
                                        <td><label for="closePrice">ระบุราคา<b>ปิด</b>(บาท/กะรัต):</label></td>
                                        <td>
                                            <input type="number" class="form-control" id="closePrice" name="closePrice"
                                                value="<%= entry.closePrice %>" placeholder="ระบุราคาปิด">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="note">หมายเหตุ:</label></td>
                                        <td>
                                            <textarea class="form-control" id="note" name="note"
                                                rows="1"><%= entry.note %></textarea>
                                        </td>
                                        <td><label for="displayName">Display Name:</label></td>
                                        <td>
                                            <textarea class="form-control" id="displayName" name="displayName"
                                                rows="1"><%= entry.displayName %></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- <label>รหัสขาย : <%= entry._id %></label> -->
                                            <input type="hidden" name="saleID" id="saleID"
                                                value="<%= entry.saleID._id %>" disabled>
                                            <input type="hidden" name="saleEntryID" id="saleEntryID"
                                                value="<%= entry._id %>" disabled>
                                        </td>
                                        <td colspan="8">
                                            <div class="text-center no-wrap">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="updateSaleEntry()">อัพเดท</button>
                                                ||
                                                <a class="btn btn-warning" href="javascript:void(0)"
                                                    onclick="handleCancel()">ยกเลิก</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
    </body>

    </html>
    <script src="script/saleEntryScript.js"></script>
    <script>
        filterCost();
        filterBatch();
    </script>