<%- include('head') %>
    </head>

    <body>
        <%- include('navbar') %>
            <div id="popup">
                <br>
                <div class="w3-display-container">
                    <div align="center">
                        <label>
                            <h3><b>จัดการชุด</b></h3>
                        </label>
                    </div>

                    <div class="row">
                        <!-- ส่วนเมนู NAVBAR -->
                        <div class="col-sm-1"></div>
                        <!-- ส่วนซ้าย: ฟอร์ม -->
                        <div class="col-sm-2">
                            <form id="addBatchForm">
                                <div class="form-group">
                                    <label for="batchYear">เลือกปี</label>
                                    <select class="form-control" name="batchYear" id="batchYear" required
                                        onchange="batchForm()">
                                        <option value=""></option>
                                        <% batchYears.forEach(function(year) { %>
                                            <option value="<%= year %>">
                                                <%= year %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <label for="number">เลือกเลขชุด</label>
                                    <select class="form-control" name="number" id="number" required
                                        onchange="batchForm()">
                                        <option value=""></option>
                                        <% numbers.forEach(function(num) { %>
                                            <option value="<%= num %>">
                                                <%= num %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <label for="typeID">เลือกประเภท</label>
                                    <select class="form-control" name="typeID" id="typeID" required
                                        onchange="batchForm()">
                                        <option value=""></option>
                                        <% types.forEach(function(type) { %>
                                            <option value="<%= type._id %>">
                                                <%= type.typeName %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div><br>
                                <div class="form-group">
                                    <label for="batchName">ชื่อชุด</label>
                                    <input class="form-control" type="text" name="batchName" id="batchName" required>
                                </div><br>
                                <div class="form-group">
                                    <label>ทุนจากชุดเก่า</label>
                                    <input class="form-control" type="number" name="costOfBatchBefore"
                                        id="costOfBatchBefore" required value="0">
                                    <label>ทุนของใหม่</label>
                                    <input class="form-control" type="number" name="costOfBatchNew" id="costOfBatchNew"
                                        required value="0">
                                    <label>ค่าแรง</label>
                                    <input class="form-control" type="number" name="costOfBatchLabor"
                                        id="costOfBatchLabor" required value="0">
                                    <label for="costOfBatch">ทุนตั้งต้น</label>
                                    <input class="form-control" type="number" name="costOfBatch" id="costOfBatch"
                                        required value="0" disabled>
                                </div><br>
                                <button type="button" class="btn btn-success btn-lg"
                                    onclick="addBatch()">เพิ่มชุด</button>
                            </form>
                        </div>

                        <!-- ส่วนขวา: ตารางแสดงข้อมูล -->
                        <div class="col-sm-9">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col">ลำดับ</th>
                                        <th scope="col">ชื่อชุด</th>
                                        <th scope="col">ประเภท</th>
                                        <th scope="col">ชุด</th>
                                        <th scope="col">ปี</th>
                                        <th scope="col">ทุนตั้งต้น</th>
                                        <th scope="col">สถานะทุน</th>
                                        <th scope="col">ทุนชุดก่อนหน้า</th>
                                        <th scope="col">ทุนของใหม่</th>
                                        <th scope="col">รวมทุนทั้งหมดของชุด</th>
                                        <th scope="col">แก้ไข</th>
                                        <th scope="col">ลบ</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBatch"></tbody>
                            </table>
                        </div>

                    </div>
                </div>


                <!-- Modal แก้ไขข้อมูล -->
                <div class="modal fade" id="editBatchModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">แก้ไขข้อมูลสินค้า</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="updateBatchForm">
                                    <input type="hidden" name="modal_edit_id" id="modal_edit_id">
                                    <div class="form-group">
                                        <label for="modal_batchYear">เลือกปี</label>
                                        <select class="form-control" name="modal_batchYear" id="modal_batchYear"
                                            required>
                                            <option value=""></option>
                                            <% batchYears.forEach(function(year) { %>
                                                <option value="<%= year %>">
                                                    <%= year %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_number">เลือกเลขชุด</label>
                                        <select class="form-control" name="modal_number" id="modal_number" required>
                                            <option value=""></option>
                                            <% numbers.forEach(function(num) { %>
                                                <option value="<%= num %>">
                                                    <%= num %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_typeID">เลือกประเภท</label>
                                        <% types.forEach(function(type) { %>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="modal_typeID"
                                                    value="<%= type._id %>" id="modal_type_<%= type._id %>"
                                                    data-origin-code="<%= type.originID.originCode %>">
                                                <label class="form-check-label" for="modal_type_<%= type._id %>">
                                                    <%= type.typeName %>
                                                </label>
                                            </div>
                                            <% }); %>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_batchName">ชื่อชุด</label>
                                        <input class="form-control" type="text" name="modal_batchName"
                                            id="modal_batchName" required>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_costOfBatch">ทุนตั้งต้น</label>
                                        <input class="form-control" type="number" name="modal_costOfBatch"
                                            id="modal_costOfBatch" required disabled>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_costOfBatchBefore">ทุนชุดก่อนหน้า</label>
                                        <input class="form-control" type="number" name="modal_costOfBatchBefore"
                                            id="modal_costOfBatchBefore" required>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_costOfBatchNew">ทุนของใหม่</label>
                                        <input class="form-control" type="number" name="modal_costOfBatchNew"
                                            id="modal_costOfBatchNew" required>
                                    </div><br>
                                    <div class="form-group">
                                        <label for="modal_costOfBatchLabor">ทุนค่าแรง</label>
                                        <input class="form-control" type="number" name="modal_costOfBatchLabor"
                                            id="modal_costOfBatchLabor" required>
                                    </div><br>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="submitEditBatch()">อัพเดท</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ปิด modal -->
            </div>
            <script src="script/batchScript.js"></script>
    </body>

    </html>